* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}

body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
}

.container-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: sticky;
  top: 100%;
}

footer a {
  margin: 0 15px;
}
